# Core ML + numerical
numpy==1.26.4
torch==2.9.1
torchvision==0.24.1
scikit-learn==1.8.0
tqdm==4.67.1

# Image processing
pillow==12.0.0

# Utility
requests==2.32.5
python-dateutil==2.9.0.post0
protobuf==4.25.8